/.vs/PersonByAge/v14
/.vs/PersonByAge/v14
/src/Personal/bin
/src/Personal/obj
/src/Personal/Personal.xproj.user
/src/PersonByAge/bin
/src/PersonByAge/obj
/src/PersonByAge/PersonByAge.xproj.user
project.lock.json
/.vs/config
